/prog-java-client/ToDos/nbproject/private/
/prog-java-client/ToDos/build/
/prog-java-client/ToDos/dist/
/prog-java-client/Validator/nbproject/private/
/prog-java-server/ToDosLogServer/nbproject/private/
/prog-java-server/ToDosUtils/nbproject/private/
/prog-java-utils/ToDosUtils/build/
/prog-java-server/ToDosLogServer/build/
/prog-java-utils/ToDosUtils/dist/
/prog-java-server/ToDosLogServer/dist/
prog-java-utils/ToDosUtils/nbproject/

prog-java-server/ToDosLogServer/vpproject/

prog-java-utils/ToDosUtils/vpproject/

prog-java-client/ToDos/vpproject/

prog-java-client/ToDos/nbproject/

prog-java-server/ToDosLogServer/nbproject/
